footer {
    position: relative;
    line-height: 1px;
    bottom: 0;
    flex: 1;
    padding: 2px;
    z-index: 0;
    background-color: gray;
    color: #fafafa;
    font-weight: 10;
}

p{
    position: relative;
	width: 100%;
    color: #fff;
    line-height: 10px;
    font-size: 0.7em;
	text-align: center;
    bottom:0;
}

p.copyright {
	position: relative;
	width: 100%;
    color: #fff;
    line-height: 5px;
    font-size: 0.7em;
	text-align: center;
    bottom:0;    
}