.error{
  color: #FF0000;
}

h2{
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.login-container {
    width: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 150px 150px 150px -155px;
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)


  }
.form-group{
    text-align: center
    
    
}

input[type="text"]{  
  line-height: 5px;
  position: relative;
  align-self: auto;
  margin-bottom: 10px;
}

input[type="password"]{
  margin-bottom: 20px;
  line-height: 5px;
  position: relative;
  align-self: auto;
}

.btn-success {
position: relative;;
}

label{
  position: relative;
  cursor: pointer;
  line-height: 5px;
  text-align: center
  
  

}