<!-- <div class="navbar"> 
        <nav class="topnav">
                <a href="#" onclick="openNav()">
                  <svg id="icoOpen">
                      <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                      <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                      <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                  </svg>
                </a>
        </nav>
    <a class="active" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/search"><i class="fa fa-fw fa-search"></i> Search</a> 
    <a routerLink="/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
    <a routerLink="/loginpage"><i class="fa fa-fw fa-user"></i>Login</a> 
    <a routerLink="/logout"><i class="fa fa-fw fa-user"></i>Logout</a>    
</div>
<p>Welcome to mySchoolApp</p>
<app-footer></app-footer> -->

<div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
</div>

